name: Format code
on:
  pull_request:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: false

jobs:
  format:
    name: Format and lint with ruff
    runs-on: [self-hosted, small]
    steps:
      - uses: actions/checkout@v4
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.event.pull_request.head.ref }}
      - name: Install Poetry
        run: pipx install poetry==$(head -n 1 .poetry-version)
      - uses: actions/setup-python@v5
        with:
          python-version-file: '.python-version'
          cache: 'poetry'
      - name: Install dependencies
        run: poetry install --no-interaction --no-ansi --no-root
      - name: Check files using the ruff formatter
        run: poetry run ruff format
      - name: Check files using the ruff linter
        run: poetry run ruff --fix --unsafe-fixes --preview --exit-zero .
      - name: Commit changes
        uses: EndBug/add-and-commit@v9
        with:
          message: 'Auto format'
          add: '*.py'
